---
import Layout from "../layouts/Layout.astro";
import JPheader from "../components/JPHeader.astro";
import JPLanding from "../components/JPLanding.astro";
import JPSkills from "../components/JPSkills.astro";
---

<Layout title="Welcome to Astro.">
	<JPheader></JPheader>
	<main>
		<JPLanding></JPLanding>
		<JPSkills></JPSkills>
	</main>
</Layout>

<style>

</style>
